AD-master/Practica05_Client_Soap_Servlet/src/wsdl/localhost_8080/Practica05_WS_SoapRest/Soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="Soap">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/Practica05_WS_SoapRest/Soap?xsd=1"/>
</xsd:schema>
</types>
<message name="registerImage">
<part name="parameters" element="tns:registerImage"/>
</message>
<message name="registerImageResponse">
<part name="parameters" element="tns:registerImageResponse"/>
</message>
<message name="validAccount">
<part name="parameters" element="tns:validAccount"/>
</message>
<message name="validAccountResponse">
<part name="parameters" element="tns:validAccountResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<message name="ListImages">
<part name="parameters" element="tns:ListImages"/>
</message>
<message name="ListImagesResponse">
<part name="parameters" element="tns:ListImagesResponse"/>
</message>
<message name="SearchTitleKeywords">
<part name="parameters" element="tns:SearchTitleKeywords"/>
</message>
<message name="SearchTitleKeywordsResponse">
<part name="parameters" element="tns:SearchTitleKeywordsResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<message name="SearchCreaDate">
<part name="parameters" element="tns:SearchCreaDate"/>
</message>
<message name="SearchCreaDateResponse">
<part name="parameters" element="tns:SearchCreaDateResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="DeleteImage">
<part name="parameters" element="tns:DeleteImage"/>
</message>
<message name="DeleteImageResponse">
<part name="parameters" element="tns:DeleteImageResponse"/>
</message>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<portType name="Soap">
<operation name="registerImage">
<input wsam:Action="http://soap/Soap/registerImageRequest" message="tns:registerImage"/>
<output wsam:Action="http://soap/Soap/registerImageResponse" message="tns:registerImageResponse"/>
</operation>
<operation name="validAccount">
<input wsam:Action="http://soap/Soap/validAccountRequest" message="tns:validAccount"/>
<output wsam:Action="http://soap/Soap/validAccountResponse" message="tns:validAccountResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://soap/Soap/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://soap/Soap/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
<operation name="ListImages">
<input wsam:Action="http://soap/Soap/ListImagesRequest" message="tns:ListImages"/>
<output wsam:Action="http://soap/Soap/ListImagesResponse" message="tns:ListImagesResponse"/>
</operation>
<operation name="SearchTitleKeywords">
<input wsam:Action="http://soap/Soap/SearchTitleKeywordsRequest" message="tns:SearchTitleKeywords"/>
<output wsam:Action="http://soap/Soap/SearchTitleKeywordsResponse" message="tns:SearchTitleKeywordsResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://soap/Soap/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://soap/Soap/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
<operation name="SearchCreaDate">
<input wsam:Action="http://soap/Soap/SearchCreaDateRequest" message="tns:SearchCreaDate"/>
<output wsam:Action="http://soap/Soap/SearchCreaDateResponse" message="tns:SearchCreaDateResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://soap/Soap/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://soap/Soap/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://soap/Soap/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://soap/Soap/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="createAccount">
<input wsam:Action="http://soap/Soap/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://soap/Soap/createAccountResponse" message="tns:createAccountResponse"/>
</operation>
<operation name="DeleteImage">
<input wsam:Action="http://soap/Soap/DeleteImageRequest" message="tns:DeleteImage"/>
<output wsam:Action="http://soap/Soap/DeleteImageResponse" message="tns:DeleteImageResponse"/>
</operation>
<operation name="ModifyImage">
<input wsam:Action="http://soap/Soap/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://soap/Soap/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
</portType>
<binding name="SoapPortBinding" type="tns:Soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchTitleKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Soap">
<port name="SoapPort" binding="tns:SoapPortBinding">
<soap:address location="http://localhost:8080/Practica05_WS_SoapRest/Soap"/>
</port>
</service>
</definitions>